.sidenav {
    height: 100%;
    width: 40%;
    background-color: #000;
    position: fixed;
    padding-top: 20px;
}
.sidenav .main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}
.main{
    margin-left: 40%; 
    padding: 10px;
}

.login-form{
    /* margin-top: 20%; */
}
.profile{
    text-align: center;
    vertical-align: middle;
}
.profile-image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

/* .erro-message{
    color:red
} */
